@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

@font-face {
	font-family: "AtypDisplay-Medium";
	src: url("../fonts/AtypBLText-Regular.woff") format('woff');
	font-weight: normal;
}

@font-face {
	font-family: "AtypDisplay-Medium";
	src: url("../fonts/AtypBLText-Semibold.woff") format('woff');
	font-weight: medium;
}

@font-face {
	font-family: "AtypDisplay-Medium";
	src: url("../fonts/AtypDisplay-Medium.woff") format('woff');
	font-weight: bold;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova-reg-webfont.woff") format('woff');
	font-weight: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova-sbold-webfont.woff") format('woff');
	font-weight: 600;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova-bold-webfont.woff") format('woff');
	font-weight: bold;
}

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
	.rtl {
		direction: rtl;
	}
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
	display: none;
}